//@import url("https://code.highcharts.com/css/highcharts.css");
//
//:root {
//  --highcharts-background-color: theme("colors.muted.DEFAULT");
//}

//.highcharts-background {
//  fill: theme("colors.muted.DEFAULT");
//}

.glass {
 background: white;
  color: black;
}

.glass::selection {
  background: Highlight !important;
  color: inherit !important;
}
.results {
  color: black;
}
